.text {
    text-align: center;
    background-color: blue;
    font-size: 100px;
    color: red;
}
.text3 {
    text-align: center;
    background-color: blue;
    font-size: 150px;
    color: red;
}    
.text2 {
    text-align: center;
    background-color: red;
    font-size: 100px;
    color: blue;
}
.columnas {
    column-count: 5;
}
.columnas2 {
    column-count: 7;
}
.columnas3 {
    column-count: 3;
    column-gap: 3;
}
.columnas4 {
    column-count: 2;
}
.columnas5 {
    column-count: 4;
}
.texto {
    text-align: center;
    background-color: darkblue;
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.fondo{
    background-image: url(/Pics/IMG_4955.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}
.paises{
    display: grid;
    font-size: 50px;
    justify-content: right;
    margin-right: 2%;
    margin-top: 5%;
}   
.titulo{
     font-size: 150px;
}


.animate {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
  }
  
  .action-button {
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 8px;
    font-family: "Pacifico", cursive;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
  }
  
  .blue {
    background-color: #3498db;
    border-bottom: 5px solid #2980b9;
    text-shadow: 0px -2px #2980b9;
  }
  
  .red {
    background-color: #e74c3c;
    border-bottom: 5px solid #bd3e31;
    text-shadow: 0px -2px #bd3e31;
  }
  
  .green {
    background-color: #82bf56;
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
  }
  
  .yellow {
    background-color: #f2cf66;
    border-bottom: 5px solid #d1b358;
    text-shadow: 0px -2px #d1b358;
  }
  
  .action-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
  }
  .float{
    position: fixed;
    bottom: 30px;
    right: 30px;
  }
  .float2{
    position: fixed;
    bottom: 30px;
    right: 280px;
  }
  .fondo2{
    background-image: url(/Pics/Captura8.JPG);
    background-size: 800px;
    /* background-size: auto; */
    background-repeat: no-repeat;
}
.regalo{
  text-align: right;
  margin: 250px;
  font-size: 100px;
}
  